
{% extends 'base.html' %}

{% block body %}
 <div class="container">
    <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="thumbnail">

              <div class="caption">
                  {% if post.image %}
                  <img src="{{post.image.url}}" class="img-responsive">
                  {% endif %}
                    <h3>{{ post.title }} <small style="float: right;">{{ post.publishing_date }}</small></h3>
                    <p>{{ post.content|safe|linebreaks }}</p>
                <p>
                    <h4><small>Yazar: {{ post.user.get_full_name }}</small></h4>
                    {% if request.user.is_superuser and post.user.get_full_name == user.get_full_name %}
                         <a href="{{ post.get_update_url }}" class="btn btn-default" role="button">Güncelle</a>
                         <a href="{{ post.get_delete_url }}" class="btn btn-danger" role="button">Sil</a>
                    {% endif %}
                </p>

              </div>
            </div>
                <hr>

                {% if perms.post.add_comment %}
                       {% for comment in post.comments.all %}

                        <h4>{{ comment.name }} | <small>{{ comment.created_date|timesince }} önce</small></h4>
                        <p>{{ comment.content|linebreaks }}</p>
                        <hr>
                      {% endfor %}


                      <h3>Yorum Ekle</h3>
                      {% include 'post/comment.html' %}
                {% else %}
                    <p>Yorumları Sadece Üyeler Görebilir.
                        <a href="{% url 'accounts:register' %}"> Üye olmak için tıkla</a>
                    </p>
                {% endif %}

          </div>
    </div>
 </div>


{% endblock %}